@use "../../colors";

.container{
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &.changeable:hover{
    filter: brightness(90%);
  }
}
.text{
  font-size: 24px;
}

