<h1>Disjunctive Normal Form Generator</h1>
<h2>- by Ambrus Tóth -</h2>

<div id="cont">
  <p class="info" style="text-align: center">
    A logical formula is said to be in disjunctive normal form if it is a disjunction of conjunctions with every
    variable
    and its negation is present once in each conjunction.
  </p>
  <div class="form-row">
    <label id="label-vc" for="input-var-count">Number of variables: </label>

    <div id="vc-cont">
      <input style="order: 2" min="1" step="1" max="10" id="input-var-count" type="number" [ngModel]="varCount"
             (ngModelChange)="changeVarCount($event)">

      <svg style="order: 1" (click)="changeVarCount(varCount+1)" class="arrow-button" width="13" height="8"
           viewBox="0 0 13 8"
           fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="6.36395" width="9" height="2" transform="rotate(-45 0 6.36395)" fill="black"/>
        <rect x="6.41422" width="9" height="2" transform="rotate(45 6.41422 0)" fill="black"/>
      </svg>
      <svg style="order: 3" (click)="changeVarCount(varCount-1)" class="arrow-button" width="13" height="8"
           viewBox="0 0 13 8"
           fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="12.7782" y="1.41425" width="9" height="2" transform="rotate(135 12.7782 1.41425)" fill="black"/>
        <rect x="6.36395" y="7.7782" width="9" height="2" transform="rotate(-135 6.36395 7.7782)" fill="black"/>
      </svg>

    </div>

  </div>

  <div id="big-table">

    <div id="variable-container" [ngStyle]="{gridTemplateColumns: 'repeat('+varCount+', auto)'}">
      <div class="letter table-header" *ngFor="let ter of letters">{{ter}}</div>

      <app-num-box *ngFor="let value of possibleValues2" [value]="value"></app-num-box>
    </div>

    <div class="black-bar"></div>

    <div id="result-inputs">
      <div class="table-header">Result</div>
      <app-num-box *ngFor="let resultValue of resultArray" [value]="resultValue.value" [changeable]="true"
                   (changeValue)="changeState(resultValue.index, $event)"></app-num-box>

    </div>

    <div class="black-bar"></div>


    <div id="result-formulas">
      <div class="table-header">DNF</div>
      <div class="formula-row" *ngFor="let f of formulas">{{f}}</div>
    </div>


  </div>

  <p class="info">Click on the result bits to change them!</p>

</div>
